.footer{
  
  height: 50vh;
  position: relative;
  background-color: rgb(1, 34, 39);

    .footerContainer{
      position: absolute;
      margin-left: 50px;
      margin-top: 60px;
   .leftFooter{
      
      p{
        font-size: 14px;
        color: white;
      }
      img{
        height: 50px;
        width: 180px;
        padding-bottom: 10px;
        
      }
   }

  }
  

  
}